:root {
    /* 컬러변수  */
    --main-color: #48487d;
    --sub-color: #fabd43;
    --bg-color: #fff;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul { list-style-type: none; }
a { text-decoration: none; }

header {
    width: 1000px;
    height: 100px;
    background: #ddd;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header h1 a img { width: 200px;}

nav {
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    top: 60px;
}

nav a { 
    color: #fff;
    display: block;
}

/* 1단계 메뉴 */
nav .depth1 {
    display: flex;
    text-align: center;
}

nav .depth1 > li {
    border: 1px solid #333;
    /*
    margin-left: 2rem;
    margin-right: 2rem; */
}
nav .depth1 > li > a {
    font-weight: bold;
    padding: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
}

nav .depth1 > li > a:hover {
    color: var(--sub-color);
}

.depth2 > li > a:hover {
    color: var(--sub-color);
    text-decoration: underline;
}

.depth2 > li > a {
    padding: 4px;
}

.depth2 {
    margin-top: 10px;
    background: #666;
}