:root {
    /* 컬러변수  */
    --main-color: #48487d;
    --sub-color: #fabd43;
    --bg-color: #fff;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
}

ul { list-style-type: none; }

a { 
    text-decoration: none; 
    color: var(--text-color);
}

header {
    width: 1000px;
    height: 100px;
    background: #ddd;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
}

header h1 a img { width: 200px;}

nav {
    background-color: var(--main-color);
    position: absolute;
    right: 0;
    top: 61px;
}

nav a { 
    color: #fff;
    display: block;
    transition-duration: 0.5s;
}

/* 1단계 메뉴 */
nav .depth1 {
    display: flex;
    text-align: center;
}

nav .depth1 > li {
    /* border: 1px solid #333; */
    /*
    margin-left: 2rem;
    margin-right: 2rem; */
}
nav .depth1 > li > a {
    font-weight: bold;
    padding: 4px;
    padding-left: 2rem;
    padding-right: 2rem;
}

nav .depth1 > li > a:hover {
    color: var(--sub-color);
}

.depth2 > li > a:hover {
    color: var(--sub-color);
    text-decoration: underline;
}

.depth2 > li > a {
    padding: 4px;
}

.depth2 {
    margin-top: 10px;
    background: #fff;
}

/* 2단계 메뉴 효과(부드럽게 나타났다 사라졌다) */
/* 안보임(기본) */
nav .depth2 a { color: #333;}
nav .depth2 {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.5s;
}

/* 보이는 상태 */
nav .depth2.active {
    height: 100px;
    opacity: 1;
}


main {
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    background: #ccc;
    gap: 10px;
}

main > div {
    /* border: 2px solid #333; */
}

main h2 { 
    font-size: 20px;
    display: inline-block;
    background: var(--sub-color);
    padding-left: 2rem;
    padding-right: 2rem;
}

main .notice {
    width: 40%;
}

main .notice ul li {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

main .notice ul li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 짝수/홀수 목록 색칠하기: 2n 짝수, 1n+1 홀수 */
main .notice ul li:nth-child(2n) {
    background: var(--sub-color);
}



main .gallery {
    width: 35%;
}

main .link {
    width: 25%;
}

